<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои заявки</title>
    <link rel="stylesheet" th:href="@{/css/user/userApplications.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <script th:src="@{/js/user/deleteUserApplications.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">
    <div class="applications-list">
        <h2 style="color: white">Мои заявки на вступление в группы</h2>

        <div th:each="applicationOne : ${applications}" class="application">
            <div class="application-info">
                <p>Группа: <span th:text="${applicationOne.groupName}"></span></p>
                <p>Дата подачи: <span th:text="${applicationOne.sendAt}"></span></p>
                <p>Статус: <span th:text="${applicationOne.status}"></span></p>
            </div>
            <form th:action="@{/user/applications}" method="POST" class="delete-form">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="applicationId" th:value="${applicationOne.applicationId}">

                <button type="submit" class="delete-button" th:id="|delete-button-${applicationOne.applicationId}|">
                    <i class="bi bi-trash"></i>
                </button>
            </form>
        </div>

        <div class="empty-list" th:if="${#lists.isEmpty(applications)}">
            <p>У вас нет активных заявок</p>
        </div>
    </div>
</div>
</body>
</html> 