<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои группы</title>
    <link rel="stylesheet" th:href="@{/css/user/userGroups.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">
    <div class="button-group">
        <form th:action="@{/user/applications}" method="GET" class="applications-form">
            <button type="submit" class="action-button">Мои заявки</button>
        </form>

        <form th:action="@{/groups/new}" method="GET" class="create-group-form">
            <button type="submit" class="action-button">Создать группу</button>
        </form>

        <form th:action="@{/groups}" method="GET" class="find-group-form">
            <button type="submit" class="action-button">Найти группу</button>
        </form>
    </div>

    <div class="groups-list">
        <h2 style="color: white">Мои группы</h2>

        <div th:each="group : ${groups}">
            <form th:action="@{/groups/{id}(id=${group.groupId})}" method="get" class="group-form">
                <div class="group">
                    <button type="submit" class="group-button">
                        <div class="group-details">
                            <div class="left-column">
                                <p>Название: <span th:text="${group.groupName}"/></p>
                                <p>Роль: <span th:text="${group.role}"/></p>
                            </div>
                            <div class="right-column">
                                <p>Описание: <span th:text="${group.description}"/></p>
                            </div>
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div class="empty-list" th:if="${#lists.isEmpty(groups)}">
            <p>У вас пока нет групп</p>
        </div>
    </div>
</div>
</body>
</html> 