<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заявки на вступление</title>
    <link rel="stylesheet" th:href="@{/css/group/applications.css}">
    <script th:src="@{/js/group/adminApplications.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content-wrapper">
    <div class="content">
        <h2>Заявки на вступление в группу</h2>

        <div class="applications-list">
            <div class="applications">
                <div th:each="applicationOne : ${applications}" class="application">
                    <div class="application-info">
                        <p>Имя пользователя: <span th:text="${applicationOne.username}"></span></p>
                        <p>Дата подачи: <span th:text="${applicationOne.sendAt}"></span></p>
                    </div>

                    <form th:action="@{/groups/{id}/applications(id=${groupId})}" method="POST" class="action-form" th:id="|approve-form-${applicationOne.applicationId}|">
                        <input type="hidden" name="userId" th:value="${userId}">
                        <input type="hidden" name="userForJoinId" th:value="${applicationOne.userId}">
                        <input type="hidden" name="applicationId" th:value="${applicationOne.applicationId}">
                        <input type="hidden" name="applicationStatus" value="Одобрено">
                        <button type="submit" class="approve-button" th:id="|approve-button-${applicationOne.applicationId}|">Принять</button>
                    </form>

                    <form th:action="@{/groups/{id}/applications(id=${groupId})}" method="POST" class="action-form" th:id="|reject-form-${applicationOne.applicationId}|">
                        <input type="hidden" name="userId" th:value="${userId}">
                        <input type="hidden" name="userForJoinId" th:value="${applicationOne.userId}">
                        <input type="hidden" name="applicationId" th:value="${applicationOne.applicationId}">
                        <input type="hidden" name="applicationStatus" value="Отклонено">
                        <button type="submit" class="reject-button" th:id="|reject-button-${applicationOne.applicationId}|">Отклонить</button>
                    </form>
                </div>
            </div>

            <div class="empty-list" th:if="${#lists.isEmpty(applications)}">
                <p>Нет активных заявок на вступление</p>
            </div>
        </div>
    </div>
</div>
</body>
</html> 