<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <link rel="stylesheet" th:href="@{/css/group/groups.css}">
    <script th:src="@{/js/group/groupsCreateApplications.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">

    <div class="groups-list">
        <h2 style="color: white">Доступные группы</h2>
        
        <div th:each="group : ${groups}" class="group-wrapper">
            <div class="group-actions">
                <form th:action="@{/groups/{id}/viewing(id=${group.id})}" method="GET" class="group-form">
                    <div class="group">
                        <button type="submit" class="group-button">
                            <div class="group-details">
                                <div class="left-column">
                                    <p><span th:text="${group.name}"></span></p>
                                </div>
                            </div>
                        </button>
                    </div>
                </form>

                <form th:action="@{/groups}" method="POST" class="apply-form" th:id="|apply-form-${group.id}|">
                    <input type="hidden" name="groupId" th:value="${group.id}">
                    <button type="submit" class="apply-button" th:id="|apply-button-${group.id}|">Подать заявку</button>
                </form>
            </div>
        </div>

        <div class="empty-list" th:if="${#lists.isEmpty(groups)}">
            <p>Нет доступных групп</p>
        </div>
    </div>
</div>
</body>
</html> 