<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая транзакция</title>
    <link rel="stylesheet" th:href="@{/css/transactions/new.css}">
    <script th:src="@{/js/transaction/transactionCategory.js}" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">
    <div class="create-transaction">
        <h2>Создание транзакции</h2>

        <form th:action="@{/transactions/new}" method="POST" class="transaction-form">
            <input type="hidden" name="groupId" th:value="${groupId}">

            <div class="form">
                <label for="amount">Стоимость:</label><br>
                <input type="number" id="amount" name="amount" min="0" max="1000000" required><br><br>

                <label for="type">Тип:</label><br>
                <select id="type" name="type" required>
                    <option value="Доход">Доход</option>
                    <option value="Расход">Расход</option>
                </select><br><br>

                <label for="category">Категория:</label><br>
                <select id="category" name="category" required></select><br><br>

                <label for="dateTime">Дата и время:</label><br>
                <input type="datetime-local" id="dateTime" name="dateTime" th:max="${currentDateTime}" required><br><br>

                <label for="description">Описание:</label><br>
                <textarea id="description" name="description" required></textarea><br><br>

                <button type="submit" class="save-button">Сохранить</button>
            </div>
        </form>
    </div>

    <div class="upload-xls">
        <form th:action="@{/transactions/new/upload}" method="get">
            <input type="hidden" name="groupId" th:value="${groupId}">

            <button type="submit" class="upload-button">Загрузить csv файл</button>
        </form>
    </div>
</div>
</body>
</html> 