<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Транзакции</title>
    <link rel="stylesheet" th:href="@{/css/transactions/transactions.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">
    <div class="actions">
        <form th:action="@{/transactions/new}" method="GET" class="create-transaction-form">
            <input type="hidden" name="groupId" th:value="${groupId}">
            <button type="submit" class="create-button">Создать транзакцию</button>
        </form>
    </div>

    <div class="transactions-list">
        <form th:each="transaction : ${transactions}" th:action="@{/transactions/{id}(id=${transaction.id})}" method="get" class="transaction-form">
            <div class="transaction">
                <button type="submit" class="transaction-button">
                    <div class="transaction-details">
                        <div class="left-column">
                            <p th:if="${groupId != null}">Участник: <span th:text="${transaction.username}"></span></p>
                            <p>Сумма: <span th:text="${transaction.amount}"></span></p>
                            <p>Дата: <span th:text="${transaction.dateTime}"></span></p>
                        </div>
                        <div class="right-column">
                            <p>Категория: <span th:text="${transaction.category}"></span></p>
                            <p>Тип: <span th:text="${transaction.type}"></span></p>
                        </div>
                    </div>
                </button>
            </div>
        </form>
    </div>

    <div class="empty-list" th:if="${#lists.isEmpty(transactions)}">
        <p>Тут ничего нет...</p>
    </div>
</div>
</body>
</html> 