<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content-wrapper">
    <div class="content">
        <h2>404 - Страница не найдена</h2>
        <div class="error-message">
            <p>Запрашиваемая страница не существует</p>
        </div>
        <div class="error-actions">
            <a th:href="@{/articles}" class="button">Вернуться на главную</a>
        </div>
    </div>
</div>
</body>
</html> 