<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка</title>
    <link rel="stylesheet" th:href="@{/css/loading.css}">
</head>
<body>
<div class="content">
    <div class="loading-container">
        <div class="loading-spinner"></div>
        <h1>Загрузка...</h1>
        <p th:text="${message}">Пожалуйста, подождите.</p>
    </div>
</div>

<script th:inline="javascript">
    // Автоматическое перенаправление после загрузки
    window.onload = function() {
        setTimeout(function() {
            window.location.href = /*[[${redirectUrl}]]*/ '';
        }, 2000); // Задержка в 2 секунды
    };
</script>
</body>
</html> 