<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">
    <h1>Добро пожаловать!</h1>
    <h2>Вход</h2>

    <div th:if="${error}" class="error-message" th:text="${error}"></div>

    <form action="/login" method="post">
        <label for="email">Почта:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Войти</button>
    </form>

    <p>Ещё не зарегистрированы? <a href="/register">Регистрация</a></p>
</div>
</body>
</html> 