<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выход из системы</title>
    <link rel="stylesheet" th:href="@{/css/logout.css}">
</head>
<body>
<div class="content">
    <div class="logout-container">
        <h1>Выход из системы</h1>
        
        <div class="message">
            <p>Вы успешно вышли из системы.</p>
            <p>Спасибо за использование нашего сервиса!</p>
        </div>

        <div class="actions">
            <a th:href="@{/login}" class="login-button">Войти снова</a>
            <a th:href="@{/}" class="home-button">Вернуться на главную</a>
        </div>
    </div>
</div>
</body>
</html> 