<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<h1>Последние статьи</h1>
<div th:each="article : ${articles}" class="article-card">
    <div class="article">
        <h2 th:text="${article.title}">Заголовок статьи</h2>
        <p class="content" th:text="${article.content}">Содержание статьи</p>
        <span th:text="${article.author}">Автор</span>
        <span th:text="${article.publishedAt}">Дата</span>
    </div>
</div>
</body>
</html> 