<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Цели</title>
    <link rel="stylesheet" th:href="@{/css/goals/goals.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">
    <div class="actions">
        <form th:action="@{/goals/new}" method="GET" class="create-goal-form">
            <input type="hidden" name="userId" th:value="${userId}">
            <input type="hidden" name="groupId" th:value="${groupId}">
            <button type="submit" class="create-button">Создать цель</button>
        </form>
    </div>

    <div class="goals-list">
        <form th:each="goal : ${goals}" th:action="@{/goals/{id}(id=${goal.id})}" method="get" class="goal-form">
            <div class="goal">
                <input type="hidden" name="userId" th:value="${userId}">
                <input type="hidden" name="groupId" th:value="${groupId}">
                <button type="submit" class="goal-button">
                    <div class="goal-details">
                        <div class="left-column">
                            <p>Название: <span th:text="${goal.title}"></span></p>
                        </div>
                        <div class="right-column">
                            <p>Прогресс: <span th:text="${goal.progress}"></span></p>
                        </div>
                    </div>
                </button>
            </div>
        </form>
    </div>

    <div class="empty-list" th:if="${#lists.isEmpty(goals)}">
        <p>Тут ничего нет...</p>
    </div>
</div>
</body>
</html> 