<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Записи</title>
    <link rel="stylesheet" th:href="@{/css/records/records.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="content">
    <div class="actions">
        <form th:action="@{/records/new}" method="GET" class="create-record-form">
            <input type="hidden" name="userId" th:value="${userId}">
            <input type="hidden" name="groupId" th:value="${groupId}">
            <button type="submit" class="create-button">Создать запись</button>
        </form>
    </div>

    <div class="records-list">
        <form th:each="record : ${records}" th:action="@{/records/{id}(id=${record.id})}" method="get" class="record-form">
            <div class="record">
                <input type="hidden" name="userId" th:value="${userId}">
                <input type="hidden" name="groupId" th:value="${groupId}">
                <button type="submit" class="record-button">
                    <div class="record-details">
                        <p>Название: <span th:text="${record.title}"></span></p>
                    </div>
                </button>
            </div>
        </form>
    </div>

    <div class="empty-list" th:if="${#lists.isEmpty(records)}">
        <p>Тут ничего нет...</p>
    </div>
</div>
</body>
</html> 